.hidden{
    display: none;
}

.show{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: #41714A;
padding: 20px;
}

.show-localizacion{
    display: flex;
    background-color: #41714A;
    padding: 20px;
}

.hidden-location{
    display: none;
}

.compact-resident{
    height: 13px;
    overflow: hidden;
}