.hidden{
    display: none;
}

.show{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: #41714A;
padding: 20px;
}

.show-localizacion{
    display: flex;
    background-color: #41714A;
    padding: 20px;
}

.hidden-location{
    display: none;
}

.compact-residents{
    height: 705px;
    padding-left: 3%;
    overflow: hidden;
    width: 66.666667%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.show-residents{
    padding-left: 3%;
    width: 66.666667%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

@media (max-width:1210px) {
    .show-residents, .compact-residents{
        padding-left: 15%;
    }
}