@tailwind base;
@tailwind components;
@tailwind utilities;

.aside-menu-extendido{
    display: block;
}

.menu-extendido{
    color: #40B5CB;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 30px;
}

.menu-extendido:hover{
    text-shadow: 0px 0px 6px #D2E054;
}

.aside-menu-compacto{
    display: none;
    margin-left: 25px;
}

.menu-compacto{
    display: flex;
    flex-direction: column;
    color: #40B5CB;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 30px;
}

.menu-compacto:hover{
    text-shadow: 0px 0px 6px #D2E054;
}

@media (max-width:850px){
    .aside-menu-compacto{
        display: block;
    }
    .aside-menu-extendido{
        display: none;
    }
}